body{
    /* used google font */
    font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 60px 0px;
}
.section-1{
    /* position: absolute; */
    width: 1321px;
    height: 612px;
    left: 140px;
    top: 50px;
    /* margin: 50px 60px 0px 280px; */
    background: #110F56 ;
    border-radius: 30px;
    align-items: center;
}
.s1-main{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}
.about-worldcup{
    width: 531px;
    height: 424px;
    margin: 161px 0px 0px 120px;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}
.about-worldcup .about-livefeed h1{
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}
.about-worldcup .about-livefeed p{
    margin: 0px;
}
.about-livefeed-link{
    background-color: #F7931E ;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    text-align: center;
    padding: 10px 5px 0px 5px;
    
}
.about-worldcup .about-livefeed-link a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.arrow{
    border: solid rgb(254, 253, 253);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;}
.right{
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.about-worldcup .about-livefeed-link>i{
    margin: 0px 0px 0px 10px;
}
.cover-pic{
    width: 581px;
    height: 613px;
    margin: 0px 0px 0px 90px;
}
.cover-pic img{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* section-2 */
.section-2{
    left: 140px;
    width: 1321px;
    margin-top: 90px;
}
.s2-main{
    display: flex;
}
.menu{
    width: 312px;
    height: 230px;
    margin: 15px 15px 0px 0px;
    background-color: #110F56;
    border-radius: 10px;
}
.menu .menu-btn-match a{
    text-decoration: none;
    background-color: #F7931E;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 15px 20px 17px 20px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: grid;
}
.menu .menu-btn a{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    padding: 15px 20px 17px 20px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: grid;
}
.menu .menu-btn-blog a{
    text-decoration: none;
    background-color: #F7931E;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 15px 20px 17px 20px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: grid;
}
.blogs-main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px -15px 0px 50px;
}
.blogs{
    width: 312px;
    height: 390px;
    margin: 15px 15px 0px 0px;
    border-radius: 10px;
    box-shadow: 0.3px 0.3px 3px rgba(128, 128, 128, 0.72);
}
.blogs .blog img{
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.blog .info{
    margin: 20px;
}
.blog .info a{
    text-decoration: none;
    width: 100px;
    height: 32px;
    border: 1.5px solid #110F56;
    border-radius: 5px;
    font-size: 12px;
    color: black;
    font-weight: 700;
    padding: 5px 15px;  
}
.info .icons .time{
    text-align: left;
}
.info .icons .time p{
    display: inline;
    margin-left: 8px;
}
.info .icons .comments{
    text-align: right;
}
.info .icons .comments p{
    display: inline;
    margin-left: 8px;
}
.info .icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 143px;
    height: 26px;
    color: grey;
}
footer{
    width: 100%;
    /* height: 444px; */
    background-color: #110F56;
    padding: 50px 10px 50px 0px;
    /* margin: -10px 0px -10px -08px; */
    text-align: center;
    color: white;
}
.footer-title h1{
    font-weight: 600;
}
.footer-options{
    display: flex;
    justify-content: center;
}
footer .footer-options h5{
    margin: 28px;
}
hr{
    width: 1100px;
    height: 0px;
    border: 1px solid rgba(98, 97, 97, 0.1);
}
.footer-icons i{
    margin: 15px;
}
/* 2nd page */
/* section 2 */
.match-schedule{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px -15px 0px 50px;
}
.live-match{
    width: 312px;
    height: 242px;
    box-shadow: 0.3px 0.3px 3px rgba(128, 128, 128, 0.72);
    text-align: center;
    margin: 15px 15px 0px 0px;
    border-radius: 10px;
}
.flags{
    display: flex;
    justify-content: center;
    margin: 53px 0px 20px 0px;
}
.flags img{
    width: 93px;
    height: 56px;
    
}
.flags h3{
    margin: 15px 20px 0px 20px;
}
.live-match .match-info p{
    color: grey;
}
